html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/*** navbar top ***/

.admin-logo-buynoir {
    margin: 0px auto;
}

.navbar a.nav-link,
.navbar a.nav-link:visited {
    color: #fff;
}

.navbar-top {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.navbar-top-left {
    color: #fff;
    width: 20%;
}

.navbar-top-right {
    width: max-content;
    margin-left: auto;
    margin-right: 0px;
    padding: 20px;
}

.nav-icon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}


/***left navbar***/

.navbar-left {
    align-self: flex-start;
    height: 100%;
}

.main-body-content {
    align-self: flex-start;
    height: 100%;
    /* background-color:#fdf4f0; */
}

.search-icon {
    background-image: url(../images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


/** content-body **/

.inner-section,
.body-side,
.aside-div {
    height: 100%;
}

.sub-main {
    height: 100%;
}

.content-container {
    background-color: #fef8f5;
    padding-bottom: 40px;
}

.left-card-container .card {
    height: 445px;
}

.right-card-container {
    align-self: flex-start;
    height: 445px;
}

.right-card-container .card {
    height: 445px;
}

.content-container {
    align-self: flex-start;
    padding-top: 20px;
}


/** aside-nav **/

.aside-div {
    align-self: flex-start;
    background-color: #fdf4f0;
    border-right: 2px solid #c5aba9;
    padding-top: 10px;
}

.aside-nav ul {
    padding-left: 0px;
}

.aside-nav ul li {
    padding: 10px;
}

.aside-nav ul li a {
    color: #a04645;
    font-weight: bold;
}

.aside-nav .active {
    background-color: #e7d2c6;
    border-top: 1px solid #c9a793;
    border-bottom: 1px solid #c9a793;
}

.aside-nav .active a i {
    display: inline-block;
    vertical-align: text-bottom;
    float: right;
}

.export-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.dashboard {
    padding-bottom: 40px;
}

.dashboard .card-body {
    background-color: #fdf4f0;
}